html,
body {
  height: 100%;
}

body {
  display: flex;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #a6d9e4;
}

.form-signin {
  width: 100%;
  max-width: 350px;
  padding: 15px;
  margin: auto;
}


.top{
  margin-bottom: 5px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.middle{
    border-radius: 0;
    margin-bottom: 5px;
}

.bottom{
  margin-bottom: 5px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}